// @import url('https://fonts.googleapis.com/css?family=Tillana:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Assistant:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Rakkas');

$main-background: #eee;
$secondary-background: #999;

* {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif;
}
h1, h2, h3 {
  font-family: 'Rakkas', serif;
  font-size: 1.5rem;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

strong {
  font-weight: 600;
}

body {
  background-color: $secondary-background;
}

// sets a full-width div to hide background body color
.cragle {
  z-index: -1;
  position: absolute;
  background-color: $main-background;
  top: 0;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 400px;
}

header, main {
  padding: 10px 25px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $secondary-background;
  opacity: .98;
  color: white;

  a {
    color: white;
  }

  h1 {
    display: inline;
    font-weight: 800;
    font-size: 25px;
    margin-right: 10px;
  }
}

main {
  margin-top: 41px;
  background-color: $main-background;
}

nav {
  display: inline;

  a {
    margin-right: 10px;
  }
}

h2 {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 5px;
}

ul {
  margin-left: 20px;
}


/*
 *  form styles
 */

 .input-form {
  margin-bottom: 10px;
}

.input-form label {
  display: block;
  margin-bottom: -5px;
}

.input-form input {
  font-size: 20px;
  padding-left: 5px;
}

.submit-button {
  font-size: 15px;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: rgb(63, 159, 255);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

/*
 *  home screen buttons
 */

 .add-serving-button {
  display: block;
  width: 100%;
  text-align: center;
  border: 1px solid rgb(78, 78, 78);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 5px 10px;
  background-color: #e8e8e8;
  cursor: pointer;
}